*{
  font-family: 'Montserrat';
}
.margin-center {
  margin-left: auto;
  margin-right: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 750px) {
  .hero {
    background-image: url("../hero-mobile.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    padding-top: 3em;
    padding-bottom: 28em;
  }
  .header-left, .header-right {
    display: flex;
    flex-direction: column;
  }
  .sign-in-btn, .join-now-btn {
    margin-top: 1em;
    width: 8em;
  }
  .current-offer {
    display: flex;
    flex-direction: column;
  }
   .hero-content {
     text-align: center;
     width: 60%;
     margin-left: auto;
     margin-right: auto;
   }
   .hero-header {
     font-size: 1.5em;
     font-weight: bold;
   }
   .hero-subheader {
     font-size: 0.8em;
     font-weight: 600;
   }
   .get-started-component {
     width: 90%;
   }
   .navigation-tab-container {
     padding-top: 2em;
     width: 100%;
   }
   .current-offer {
     padding-bottom: 2em;
     width: 90%;
     min-height: 65vh;
     text-align: center;
   }
   .offer-img {
     height: 12em;
   }
   .star-code-form {
     margin-top: 6em;
     width: 90%;
     margin-bottom: 3em;
   }
 }

 @media only screen and (min-width: 750px) {
   .hero {
     background-image: url("../hero-mobile.jpg");
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: 100%;
     padding-top: 15em;
     padding-bottom: 10em;
   }
   .header-left, .header-right {
     display: flex;
     flex-direction: row;
   }
   .current-offer {
     display: flex;
     flex-direction: row;
   }
   .hero-content {
     padding-left: 4em;
     width: 40%;
   }
   .hero-header {
     font-size: 2.5em;
     font-weight: bold;
   }
   .hero-subheader {
     font-size: 1em;
     font-weight: 600;
   }
   .get-started-component {
     width: 27%;
   }
   .navigation-tab-container {
     padding-top: 2em;
     width: 45%;
   }
   .current-offer {
     padding-top: 35px;
     padding-bottom: 35px;
     min-height: 300px;
     width: 30em;
     display: flex;
   }
   .offer-img {
     height: 8em;
     width: auto;
   }
   .star-code-form {
     z-index: 0;
     margin-top: 6em;
     width: 50%;
     margin-bottom: 3em;
   }
 }
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: white;
}
.header-right {
  margin-right: 2em;
}
.header-link:hover {
  color: #008248;
  cursor: pointer;
}
.header-bottom {
  width: 100vw;
}
.rounded-button {
  border-radius: 50px !important;
}
.header-bottom {
  background-color: #1e3932;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3em;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.header-bottom-text {
  color: rgba(256, 256, 256, 0.87);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.header-image {
  margin-left: 2em;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.header-link {
  margin: 1em;
  font-weight: 600;
}
.header-left, .header-right {
  padding-left: 1em;
  padding-right: 1em;
}
.header-right {
  margin-left: auto;
}
.sign-in-btn, .join-now-btn {
  margin-left: 0.6em;
  margin-right: 0.6em;
  border-color: black !important;
}
.sign-in-btn {
  background-color: white !important;
}
.join-now-btn {
  background-color: black !important;
}
.join-now-btn:hover {
  background-color: rgba(80, 80, 80, 0.8) !important;
}
.hero {
  margin-top: 6em;
  background-color: #d4e9e2;
}
.hero-btn {
  background-color: #008248;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em;
  color:rgba(256, 256, 256, 0.87);
  padding: 0.3em 0.6em;
}
.get-started-section {
  width: 80%;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}
.get-started-section-header {
  font-weight: 700;
  font-size: 1.6em;
}
.get-started-section-subheader, .get-started-text {
  font-size: 0.9em;
  font-weight: 600;
}
.get-started-number-container {
  border: 2px solid #008248;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  color: #008248;
  font-size: 1.5em;
  line-height: 2em;
}
.get-started-component {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-started-component-container, .navigation-tab-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.offer-component-header, .star-code-header {
  font-weight: 700;
  font-size: 1.6em;
}
.get-started-title, .offer-component, .current-offer-title {
  font-size: 1.2em;
  font-weight: 600;
}
.offer-component-upper {
  background-color: #f1f8f6;
  padding-top: 2em;
  text-align: center;
}

.offer-component-lower {
  box-shadow: inset 1px -1px 2px 1px rgba(0,0,0,0.24);
  padding-top: 1em;
  width: 100%;
  background-color: #d4e9e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation-tab{
  width: 20%;
  cursor: pointer;
}
.active-tab-container {
  width: 100%;
}
.active-tab {
  width: 20%;
  background-color: #008248;
  height: 4px;
  margin-top: 0.5em;
  transition: 0.2s;
}
.current-offer-text {
  font-size: 0.8em;
  line-height: 1.7;
  font-weight: 300;
}
.current-offer-text-part {
  padding-top: 1.5em;
}
.star-code-input {
  margin-top: 1em;
  width: 100%;
  border-radius: 8px;
  height: 50px;
}
.input-container {
  position: relative;
}
.star-code-placeholder {
  position: absolute;
}
.star-code-placeholder {
  left: 0.8em;
  top: 1.6em;
  transition: ease-in-out 0.2s;
  pointer-events: none;
}
.star-code-input:focus ~ .star-code-placeholder,
.star-code-input:not(:focus):valid ~ .star-code-placeholder {
  left: 1em;
  top: 0.4em;
  background-color: white;
}
.star-code-input:focus{
  border: 3px solid #008248 !important;
  border-radius: 8px;
  outline: none;
}
.submit-btn {
  margin-top: 1em;
  margin-bottom: 2em;
  float: right;
  border-color: rgba(0, 0, 0, 0.87) !important;
  color:rgba(0, 0, 0, 0.87) !important;
  background-color: white !important;
}
.submit-btn:hover, .sign-in-btn:hover, .footer {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  padding-top: 8em;
  padding-bottom: 1em;
  text-align: center;
}
.star-code-subtext {
  margin-top: 1em;
  font-size: 0.7em;
}
